.containerTags {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.tag {
    Width: 170px;
    padding: 5px 10px;
    background: #FF6060;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
}

@media screen and (max-width: 660px) {
    .tag {
        border-radius: 5px;
        font-size: 12px;
        width: 130px;
        padding: 5px 5px;
    }
}

@media screen and (max-width: 450px) {
    .tag {
        border-radius: 5px;
        font-size: 10px;
        width: 105px;
        padding: 5px 5px;
    }
}

@media screen and (max-width: 381px) {
    .tag {
        border-radius: 5px;
        font-size: 9px;
        width: 105px;
        padding: 5px 5px;
    }
}