.containerGrid {
      display: grid;
	grid-template-columns: repeat(3, 340px);
	grid-template-rows: repeat(6, 340px);
	gap: 55px;
      align-items: center;
      justify-content: center;
      padding: 55px 0;
}

.bg {
      background-color: #f5f5f5;
      border-radius: 25px;
}

.itemGrid {
      position: relative;
      Height: 340px; 
      border-Radius: 10px;
      background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(255, 36, 36, 0.6) 50%, rgba(255, 96, 96, 1) 100%);
}

.txtGrid {
      position: absolute;
      top: 280px;
      left: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 142.6%;      
      color: #FFFFFF;
}