@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--primary: #FF6060;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container1240px {
      max-width: 1240px;
      margin: 0 auto;
}